/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Pixelify+Sans:wght@400..700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.create-lottery-button {
  background-color: #34d399;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.create-lottery-button:hover {
  background-color: #059669;
  transform: translateY(-2px);
}

.create-lottery-button:active {
  background-color: #047857;
  transform: translateY(0);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

button[type="submit"]:active {
  background-color: #3e8e41;
}

button {
  background-color: #bbb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #999;
}

button:active {
  background-color: #777;
}
.bg-1 {
  background-color: #233545;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centered-div {
  width: 80%;
  max-width: 600px;
  text-align: left;
  color: white;
  font-size: 65px;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}
